* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Press Start 2P', cursive;
  background: rgb(38, 105, 215);
  background: linear-gradient(180deg, rgba(38, 105, 215, 1) 0%, rgba(38, 105, 215, 1) 15%, rgba(68, 203, 221, 1) 25%, rgba(38, 105, 215, 1) 35%, rgba(38, 105, 215, 1) 40%, rgba(68, 203, 221, 1) 50%, rgba(38, 105, 215, 1) 60%, rgba(38, 105, 215, 1) 65%, rgba(68, 203, 221, 1) 75%, rgba(38, 105, 215, 1) 85%);
}

.container {
  width: 900px;
  margin: 10px auto;
  display: grid;
  grid-template-rows: 50px 230px 230px 230px 100px;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;

  grid-template-areas: "head head head "
    "box box box"
    "box box box"
    "box box box"
    "foot foot foot";

  &>* {
    color: white;
    padding: 10px;
    font-size: 30px;
  }

  .small-box {
    display: flex;
    flex-direction: column;

    picture {
      background-color: black;
      border: 10px ridge #44CBDD;
      height: 70%;
      width: 100%;
      margin-bottom: 6px;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        height: 80%;
      }

      .github {
        filter: invert(1);
      }
    }

    span:last-of-type {
      margin-left: auto;
    }
  }

}

.header {
  grid-area: head;
}

.footer {
  grid-area: foot;

  background-color: black;
  box-shadow: inset 0px 0px 0px 6px #FABDC6;
  border: 2px solid #000;
  border-radius: 10px;


  p {
    font-size: 15px;
  }
}

.header,
.footer {
  text-align: center;

  p {

    line-height: 70px;
    height: 50px;

  }
}