* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Press Start 2P', cursive;
  background: rgb(38, 105, 215);
  background: linear-gradient(180deg, rgba(38, 105, 215, 1) 0%, rgba(38, 105, 215, 1) 10%, rgba(68, 203, 221, 1) 20%, rgba(38, 105, 215, 1) 30%, rgba(38, 105, 215, 1) 35%, rgba(68, 203, 221, 1) 45%, rgba(38, 105, 215, 1) 55%, rgba(38, 105, 215, 1) 60%, rgba(68, 203, 221, 1) 70%, rgba(38, 105, 215, 1) 80%);

}

.container {
  width: 1200px;
  display: grid;
  margin: auto;
  grid-template-rows: 40px 230px 230px 230px;
  grid-template-columns: repeat(3, 300px) 500px;
  grid-gap: 30px;

  grid-template-areas: "head head head head"
    "box box box foot"
    "box box box foot"
    "box box box foot";

  &>* {
    color: white;
    padding: 10px;
    font-size: 30px;
  }

  .small-box {
    height: 100%;
    display: flex;
    flex-direction: column;
    cursor: pointer;

    picture {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        height: 80%;
      }

      .github {
        filter: invert(1);
      }
    }

    span:last-of-type {
      margin-left: auto;
    }
  }

}

.header {
  grid-area: head;
  text-align: center;

  p {
    line-height: 70px;
    height: 50px;

  }
}

.footer {
  grid-area: foot;

  background-color: black;
  box-shadow: inset 0px 0px 0px 6px #FABDC6;
  border: 2px solid #000;
  border-radius: 10px;


  p {
    padding: 5px;
    font-size: 12px;
    line-height: 25px;
  }
}

/* The flip box container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-box {
  width: 100%;
  height: 100%;
  perspective: 1000px;
  margin-bottom: 16px;
  /* Remove this if you don't want the 3D effect */

  p {
    font-size: 12px;
    line-height: 30px;
    padding: 12px;
  }

}

/* This container is needed to position the front and back side */
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;

}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box-clicked .flip-box-inner {
  transform: rotateX(180deg);
}

/* Position the front and back side */
.flip-box-front,
.flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;

  box-shadow:
    4px 0px 1px 0px white,
    6px 0px 1px 0px black,
    8px 0px 1px 0px #44cbdd,
    10px 0px 1px 0px white,
    12px 0px 1px 0px #44cbdd,
    0px 4px 1px 0px white,
    0px 6px 1px 0px black,
    0px 8px 1px 0px #44cbdd,
    0px 10px 1px 0px white,
    0px 12px 1px 0px #44cbdd,
    -4px 0px 1px 0px white,
    -6px 0px 1px 0px black,
    -8px 0px 1px 0px #44cbdd,
    -10px 0px 1px 0px white,
    -12px 0px 1px 0px #44cbdd,
    0px -4px 1px 0px white,
    0px -6px 1px 0px black,
    0px -8px 1px 0px #44cbdd,
    0px -10px 1px 0px white,
    0px -12px 1px 0px #44cbdd,
    0px 0px 1px 12px black,
    0px 0px 1px 14px black,
    5px 5px 1px 10px rgba(0, 0, 0, 0);

  background-color: black;

  &:hover {
    animation: blinkingText .3s infinite;
  }


}

@keyframes blinkingText {
  50% {
    box-shadow:
    4px 0px 1px 0px white,
    6px 0px 1px 0px black,
    8px 0px 1px 0px #44cbdd,
    10px 0px 1px 0px white,
    12px 0px 1px 0px #44cbdd,
    0px 4px 1px 0px white,
    0px 6px 1px 0px black,
    0px 8px 1px 0px #44cbdd,
    0px 10px 1px 0px white,
    0px 12px 1px 0px #44cbdd,
    -4px 0px 1px 0px white,
    -6px 0px 1px 0px black,
    -8px 0px 1px 0px #44cbdd,
    -10px 0px 1px 0px white,
    -12px 0px 1px 0px #44cbdd,
    0px -4px 1px 0px white,
    0px -6px 1px 0px black,
    0px -8px 1px 0px #44cbdd,
    0px -10px 1px 0px white,
    0px -12px 1px 0px #44cbdd,
    0px 0px 1px 12px white,
    0px 0px 1px 14px black,
    5px 5px 1px 10px rgba(0, 0, 0, 0);
  }

  100% {
    box-shadow:
    4px 0px 1px 0px white,
    6px 0px 1px 0px black,
    8px 0px 1px 0px #44cbdd,
    10px 0px 1px 0px white,
    12px 0px 1px 0px #44cbdd,
    0px 4px 1px 0px white,
    0px 6px 1px 0px black,
    0px 8px 1px 0px #44cbdd,
    0px 10px 1px 0px white,
    0px 12px 1px 0px #44cbdd,
    -4px 0px 1px 0px white,
    -6px 0px 1px 0px black,
    -8px 0px 1px 0px #44cbdd,
    -10px 0px 1px 0px white,
    -12px 0px 1px 0px #44cbdd,
    0px -4px 1px 0px white,
    0px -6px 1px 0px black,
    0px -8px 1px 0px #44cbdd,
    0px -10px 1px 0px white,
    0px -12px 1px 0px #44cbdd,
    0px 0px 1px 12px black,
    0px 0px 1px 14px black,
    5px 5px 1px 10px rgba(0, 0, 0, 0);
  }
}

/* Style the back side */
.flip-box-back {
  transform: rotateX(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
}